@{
    ViewBag.Title = "Персональные данные";
}

@using BusinessModel

@model Account

<br />
<div class="person-color col-md-7 col-md-offset-2">

    <h2 class="text-center">@Model.FullName</h2>
    <br />
    <div class="media">
        <div class="media-left media-top" style="float:left; width:30%">
            <img src="~/Content/img_avatar1.png" class="media-object" style="width : 80%">
        </div>
        <div class="media-body" style=" position:absolute;">
            <p>@StringResource.UserName: @Model.FirstName</p>
            <p>@StringResource.UserSecondName: @Model.SecondName</p>
            <p>@StringResource.UserAge: @Model.Age</p>
            <p>@StringResource.Birthday: @Model.BirthDate.ToShortDateString()</p>
        </div>
    </div>
    <br />
    <br />
    <br />
    <p class=" text-right">
        @Html.ActionLink(StringResource.Edit, "Edit", "PersonalArea", null, new { @class = "btn btn-success" })
    </p>
</div>