@model RegisterViewModel
@{
    ViewBag.Title = StringResource.Registration;
}

<div class="col-md-7 col-md-offset-2 fon-color">
    <h2 class="text-center">@ViewBag.Title.</h2>

    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-inline" }))
    {

        <h4 class="text-center">@StringResource.CreateAccount</h4>
        <hr />
        <p>@Html.ValidationSummary("")</p>
        <p>
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
        </p>
        <p>@Html.ValidationMessageFor(m => m.Email, "")</p>

        <p>
            @Html.LabelFor(m => m.Login)
            @Html.TextBoxFor(m => m.Login, new { @class = "form-control", @placeholder = "Login" })
        </p>
        <p>@Html.ValidationMessageFor(m => m.Login, "")</p>

        <p>
            @Html.LabelFor(m => m.FirstName)
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @placeholder = "FirstName" })
        </p>
        <p>@Html.ValidationMessageFor(m => m.FirstName, "")</p>

        <p>
            @Html.LabelFor(m => m.SecondName)
            @Html.TextBoxFor(m => m.SecondName, new { @class = "form-control", @placeholder = "SecondName" })
        </p>
        <p>@Html.ValidationMessageFor(m => m.SecondName, "")</p>

        <p>
            @Html.LabelFor(m => m.Age)
            @Html.EditorFor(m => m.Age)
        </p>
        <p>@Html.ValidationMessageFor(m => m.Age, "")</p>

        <p>
            @Html.LabelFor(m => m.BirthDate)
            @Html.TextBoxFor(m => m.BirthDate, new { @placeholder = DateTime.Now.ToString("yyyy/MM/dd") })
        </p>
        <p>@Html.ValidationMessageFor(m => m.BirthDate, "")</p>

        <p>
            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
        </p>
        <p>@Html.ValidationMessageFor(m => m.Password, "")</p>

        <p>
            @Html.LabelFor(m => m.ConfirmPassword)
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "ConfirmPassword" })
        </p>
        <p>@Html.ValidationMessageFor(m => m.ConfirmPassword, "")</p>

        <input type="submit" value=@StringResource.CreateAccountButton class="btn btn-success text-right" />

        <br />
        <br />
    }
</div>