@model FacultativeViewModel
@using BusinessModel
@{
    ViewBag.Title = "faculty";
}
<div class="col-md-7 col-md-offset-2 fon-color">
    <h2 class="text-center">Создать факультатив</h2>
    <hr />
    @using (Html.BeginForm("Index", "AddFacultative", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <p> @Html.LabelFor(m => m.Name)</p>
        <p> @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @placeholder = "Name" })</p>
        <p>@Html.ValidationMessageFor(m => m.Name, "")</p>

        <p>@Html.LabelFor(m => m.Theme)</p>
        <p>@Html.TextBoxFor(m => m.Theme, new { @class = "form-control", @placeholder = "Theme" })</p>
        <p>@Html.ValidationMessageFor(m => m.Theme, "")</p>

        <p>@Html.LabelFor(m => m.Duration)</p>
        <p>@Html.EditorFor(m => m.Duration)</p>
        <p>@Html.ValidationMessageFor(m => m.Duration, "")</p>

        <p>@Html.LabelFor(m => m.Description)</p>
        <p>@Html.TextBoxFor(m => m.Description, new { @class = "form-control", @placeholder = "Description" })</p>
        <p>@Html.ValidationMessageFor(m => m.Description, "")</p>

        <p>@Html.LabelFor(m => m.StartFacultative)</p>
        @Html.TextBoxFor(m => m.StartFacultative, new { @Value = DateTime.Now.ToString("yyyy/MM/dd") })
        <p>@Html.ValidationMessageFor(m => m.StartFacultative, "")</p>

        <p>@Html.LabelFor(m => m.Status)</p>
        <p>@Html.RadioButtonFor(m => m.Status, FacultativeStatus.Started) @FacultativeStatus.Started.ToString()</p>
        <p>@Html.RadioButtonFor(m => m.Status, FacultativeStatus.Registration) @FacultativeStatus.Registration.ToString()</p>
        <p>@Html.RadioButtonFor(m => m.Status, FacultativeStatus.NotAvailable) @FacultativeStatus.NotAvailable.ToString()</p>
        <p>@Html.RadioButtonFor(m => m.Status, FacultativeStatus.Finished) @FacultativeStatus.Finished.ToString()</p>

        <input type="submit" value="Добавить" class="btn btn-success text-right" />

        <br />
        <br />
    }

</div>