@using BusinessModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Layout/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")

</head>

@helper ButtonDrop(string role, IEnumerable<MvcHtmlString> options, string style)
    {
        <li class="dropdown">
            <a href="#" class="dropdown-toggle @style" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@role <span class="caret"></span></a>
            <ul class="dropdown-menu">
                @foreach (var item in options)
                {
                    <li role="separator" class="divider"></li>
                    <li>@item</li>
                }
            </ul>
        </li>
}

<body>
    <header class="page-header">
        <img class="brand" src="~/Content/Brand.png">
    </header>

    <br />
    <br />
    <br />
    <br />

    <div class="main inline">
        <div class="content">
            <p class="levp"><img class="lev" src="~/Content/Lev.png"></p>
            <nav class="menu navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">Elective ♥</a>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink(StringResource.Main, "Index", "Home", new { Area = "" }, null)</li>

                            @if (User.IsInRole(Role.Admin))
                            {

                                @ButtonDrop(StringResource.Admin, new List<MvcHtmlString> {
                                @Html.ActionLink(StringResource.AllUsers, "Index", "AccountManager", new { Area = "Admin" }, null),
                                @Html.ActionLink(StringResource.RegTeacher, "Index", "RegisterTeacher", new { Area = "Admin" }, null),
                                @Html.ActionLink(StringResource.Log, "Index", "Logs", new { Area = "Admin" }, null)
                                }, "");
                            }

                            @if (User.IsInRole(Role.Student))
                            {

                                @ButtonDrop(StringResource.Student, new List<MvcHtmlString> {
                                @Html.ActionLink(StringResource.AllElective, "Index", "StudentManager", new { Area = "Student" }, null),
                                @Html.ActionLink(StringResource.MyElective, "Index", "StudentFacultatives", new { Area = "Student" }, null)
                                }, "");
                            }

                            @if (User.IsInRole(Role.Teacher))
                            {

                                @ButtonDrop(StringResource.Teacher, new List<MvcHtmlString> {
                                @Html.ActionLink(StringResource.MyElective, "Index", "TeacherFacultative", new { Area = "Teacher" }, null),
                                @Html.ActionLink(StringResource.CreateElective, "Index", "AddFacultative", new { Area = "Teacher" }, null)
                                }, "");
                            }
                            <li>@Html.ActionLink(StringResource.Contact, "Contact", "Home", new { Area = "" }, null)</li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            @if (!User.Identity.IsAuthenticated)
                            {
                                <li>@Html.ActionLink(" Login", "Login", "Account", new { Area = "" }, new { @class = "glyphicon glyphicon-log-in" })</li>
                                <li>@Html.ActionLink(" Sign UP", "Register", "Account", new { Area = "" }, new { @class = "glyphicon glyphicon-user" })</li>
                            }
                            else
                            {
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle glyphicon glyphicon-user" data-toggle="dropdown" 
                                       role="button" aria-haspopup="true" aria-expanded="false">@User.Identity.Name.Insert(0, " ") 
                                    <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li role="separator" class="divider"></li>
                                        <li>@Html.ActionLink(StringResource.Profile, "Index", "PersonalArea", new { Area = "" }, null)</li>
                                        <li role="separator" class="divider"></li>
                                        <li>@Html.ActionLink(StringResource.WriteMessage, "MailSend", "Mail", new { Area = "" }, null)</li>
                                        <li role="separator" class="divider"></li>
                                        <li>
                                            <a href="@Url.Action("MailReceive", "Mail", new { Area = "" }, null)">
                                                @StringResource.MessageReceive
                                                <span class='badge' style='background-color:blue'>
                                                    @if (Cache.Get(User.Identity.Name.ToLower()) != null)
                                                    {
                                                        @Cache.Get(User.Identity.Name.ToLower()).ToString();
                                                    }
                                                    else
                                                    { <span>0</span>}
                                                </span>
                                            </a>
                                        </li>
                                        <li role="separator" class="divider"></li>
                                        <li>@Html.ActionLink(StringResource.MessageSend, "MailSendOut", "Mail", new { Area = "" }, null)</li>
                                    </ul>
                                </li>
                                <li>@Html.ActionLink(StringResource.SignOut, "LogOff", "Account", new { Area = "" }, new { @class = "glyphicon glyphicon-log-out" })</li>
                            }
                        </ul>
                    </div>
                </div>
            </nav>
            @RenderBody()
        </div>
    </div>

    <footer>
        <hr />
        <p class="text-right">&copy; Parviz Musaiev</p>
    </footer>
</body>
</html>