@model RegisterViewModel
@{
    ViewBag.Title = "Регистрация уччителя";
}
<div class="col-md-7 col-md-offset-2 fon-color">
    @using (Html.BeginForm("Index", "RegisterTeacher", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h3 class="text-center">Создайте новую учетную запись для учителя.</h3>
        <hr />

        <p>@Html.LabelFor(m => m.Email)</p>
        <p>@Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })</p>
        <p>@Html.ValidationMessageFor(m => m.Email, "")</p>

        <p>@Html.LabelFor(m => m.Login)</p>
        <p>@Html.TextBoxFor(m => m.Login, new { @class = "form-control", @placeholder = "Login" })</p>
        <p>@Html.ValidationMessageFor(m => m.Login, "")</p>

        <p>@Html.LabelFor(m => m.FirstName)</p>
        <p>@Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @placeholder = "FirstName" })</p>
        <p>@Html.ValidationMessageFor(m => m.FirstName, "")</p>

        <p>@Html.LabelFor(m => m.SecondName)</p>
        <p>@Html.TextBoxFor(m => m.SecondName, new { @class = "form-control", @placeholder = "SecondName" })</p>
        <p>@Html.ValidationMessageFor(m => m.SecondName, "")</p>

        <p>@Html.LabelFor(m => m.Age)</p>
        <p>@Html.EditorFor(m => m.Age)</p>
        <p>@Html.ValidationMessageFor(m => m.Age, "")</p>

        <p>@Html.LabelFor(m => m.BirthDate)</p>
        <p>@Html.TextBoxFor(m => m.BirthDate, new { @placeholder = DateTime.Now.ToString("yyyy/MM/dd") })</p>
        <p>@Html.ValidationMessageFor(m => m.BirthDate, "")</p>

        <p> @Html.LabelFor(m => m.Password)</p>
        <p> @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })</p>
        <p>@Html.ValidationMessageFor(m => m.Password, "")</p>

        <p>@Html.LabelFor(m => m.ConfirmPassword)</p>
        <p>@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "ConfirmPassword" })</p>
        <p>@Html.ValidationMessageFor(m => m.ConfirmPassword, "")</p>

        <input type="submit" value="Регистрация" class="btn btn-success text-right" />

        <br />
        <br />
    }
</div>