
@{
    ViewBag.Title = "Index";
}
@using BusinessModel;

@model Teacher
<h2 class="text-center">Все факультативы</h2>


@foreach (var item in Model.MyFacultatives)
{
    <div class="facultative-label facultative-color">
        <p>Название: @item.Name</p>
        <p>Тема: @item.Theme</p>
        <p>Состояние: @item.Status</p>
        <p>Преподаватель: @item.Lecturer.FullName</p>
        <p>Количество зарегистрированных: @item.Audience.Count</p>
        <div class="btn-group">
            @Html.ActionLink("Редактировать", "Index", "EditFacultative", new { id = item.Id }, new { @class = "text-warning btn btn-primary" })
            @if (item.Status == FacultativeStatus.Finished)
            {@Html.ActionLink("Посмотреть журнал", "WhatchLog", new { id = item.Id }, new { @class = "text-warning btn btn-primary" })}
            else
            {@Html.ActionLink("Создать журнал", "Index", "AddLog", new { id = item.Id }, new { @class = "text-warning btn btn-primary" }) }
        </div>
    </div>
    <br />
    <br />
}

