@using BusinessModel

@{
    ViewBag.Title = "Mail";
}

@model Account

<h2>Send</h2>

@HttpContext.Current.Cache.Get(User.Identity.Name.ToLower()).ToString()

@foreach (var item in Model.MessageSend)
{

    <p>@item.To.FullName</p>
    <p>@item.Theme</p>
    <p>@item.Text</p>
    <p>@item.SendDate</p>
}

<h2>Recieve</h2>

@foreach (var item in Model.MessagesReceive)
{
    <p>@item.From.FullName</p>
    <p>@item.Theme</p>
    <p>@item.Text</p>
    <p>@item.SendDate</p>
}
