@using BusinessModel

@{
    ViewBag.Title = StringResource.MailReceive;
}

@model ICollection<Message>

@helper MessageInfo(Message item, string style)
    {
        <tbody id="myTable" class=@style>
            <tr>
                <td>@item.From.FullName</td>
                <td>@item.Theme</td>
                <td>@item.Description</td>
                <td>@item.SendDate</td>
                <td>@Html.ActionLink(StringResource.Look, "MailOptionR", "Mail", new { id = item.Id }, new { @class = "btn btn-warning" })</td>
            </tr>
        </tbody>
}

<div class="col-lg-12 person-color">
    <h2 class="text-center">@StringResource.AllMessages</h2>
    <br />

    <table class="table tab-content table-bordered">
        <thead class="teacher-color text-balck">
            <tr>
                <th>Name</th>
                <th>Theme</th>
                <th>Description</th>
                <th>Date</th>

            </tr>
        </thead>

        @foreach (var item in Model)
        {
            if (item.Status == MessageState.NotRead)
            {
                @MessageInfo(item, "label-info")
            }
            if (item.Status == MessageState.Read)
            {
                @MessageInfo(item, "label-success")
            }
        }

    </table>
</div>