@using BusinessModel

@{
    ViewBag.Title = Model.Theme;
}

@model Message

<div class="facultative-color facultative-label text-balck">
    <h2 class="text-center">@Model.Theme</h2>
    <p>@StringResource.MessWhoSend: @Model.From.FullName</p>
    <p>@StringResource.MessWhoReceive: @Model.To.FullName</p>
    <p>@StringResource.Date: @Model.SendDate</p>
    <p>@StringResource.NewMessage: @Model.Text</p>
</div>